.list-group{
    display: grid;
    row-gap: 30px;
    margin-top: 32px;
}

.list-item {
    display: grid;
    grid-template-columns: 200px auto;
    row-gap: 30px;
    border-bottom: 1px solid #eee;

}

.list-item img{
    height: 200px;
    width: auto;
    align-items: center;
    justify-content: center;
}