
<section class="container col-12">
    <div class="row ">
      <div class="col-12 bg-primary">
        <div class="input-box col-12" style="padding: 5px; color: #fff"> 
          <label for="search">Search</label>
          <input type="text" (keyup)="onSearch($event)" class="col-12" style=" padding: 5px;   margin-top: 5px;" />
        </div>
      </div>
      <div class="col-12 py-20">
        <ul class="list-group">        
          <li class="list-item" *ngFor="let n of bookList  | async">             
                <img [src]="n?.volumeInfo.imageLinks.thumbnail" />
                <div>                
                <h2> Author: {{infoLink}} </h2>     
                <h3>Publisher: publisher</h3>         
                <h4>{{ n.volumeInfo.title }}</h4>

                </div>
          </li>
        </ul>
      </div>
    </div>
  </section>